.sidenav{
    height: 100vh;
}
.rightsideDiv{
 display: flex;
 background-color:#f8f8f9;
 flex-direction: column;
 align-items: center;
}
.topNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.divider{
    background-color: #0000001A;
}
.chartRow{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.orderText{
    margin: 0 !important;
}
.tableData{
    width: 100vw;
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:30px;
    padding: 10px;
}
.colStyle{
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 30px;
}

.chartRow{
    display: flex;
    justify-content: space-between;
}
.customerText{
    margin-top: 0 !important;
}
.progressBardiv{
    padding: 20px 0;
}
.progressbarStyle span{
    display: none !important;
    }
    .progresscircleDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .progresscircleHeadings{
        padding: 5px 0;
    }
.progresshorizontalText{
    margin: 0 !important;
}
.progresshorizontalTextsec{
    margin: 0 !important;
    text-align: end;
}
.logoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}